.admin-product {
  width: 300px;
  height: 150px;
  padding: 10px;
  margin: 0 10px 20px;
  border: 1px solid #000000;

  &-list__items {
    margin-top: 20px;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
  }
  &__title {
    font-weight: bold;
    font-size: 24px;
  }
  &__category {
    color: #6d6d6d;
    font-style: italic;
  }
  &__description {
    margin-top: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
  }
  &__price {
    margin-top: 10px;
    font-size: 18px;
  }
}
