.header {
  display: flex;
  justify-content: space-between;
}

.user-role {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  justify-content: space-between;
  height: 100vh;
}

.catalog__title {
  font-size: 28px;
}

.navbar {
  display: flex;
  margin-bottom: 20px;

  & > a {
    margin-left: 10px;
    padding: 10px;
    background-color: #f165c7;
  }
}
