<div class="header">
  <h1 #appTitle></h1>
  <div class="user-role">
    <label for="role__user"
      >User
      <input
        (change)="onUserRoleChanged($event)"
        type="radio"
        name="role"
        id="role__user"
        value="user"
        [checked]="(userRole$ | async) === 'user'"
    /></label>
    <label for="role__admin"
      >Admin
      <input
        (change)="onUserRoleChanged($event)"
        type="radio"
        name="role"
        id="role__admin"
        value="admin"
        [checked]="(userRole$ | async) === 'admin'"
    /></label>
  </div>
</div>
<div class="navbar">
  <a routerLink="/products-list">Home</a>
  <a routerLink="/cart">Cart</a>
  <a routerLink="/admin">Admin</a>
</div>
<router-outlet></router-outlet>
