<div class="cart__title">Cart</div>
<div *ngIf="(products$ | async).length > 0; else emptyCart">
  <div *ngFor="let product of products$ | async; trackBy: trackByName">
    <app-cart-item
      [name]="product.name"
      [price]="product.price"
      [quantity]="product.quantity"
      (addOne)="onAddOne($event)"
      (removeOne)="onRemoveOne($event)"
      (removeAll)="onRemoveAll($event)"
    ></app-cart-item>
  </div>
  <hr />
  <div class="cart__total-items">
    Total items: {{ totalItemsAmount$ | async }}
  </div>
  <div class="cart__total-cost">Total cost: {{ totalCost$ | async }}</div>
  <button (click)="onClear()">Clear</button>
</div>
<ng-template #emptyCart>
  <div class="cart__no-items">There are no items in cart</div>
</ng-template>
