<div class="product__title">{{ product.name }}</div>
<div class="product__category">{{ product.category }}</div>
<div class="product__description">{{ product.description }}</div>
<div class="product__price">{{ product.price }}$</div>
<ng-container *ngIf="!product.isInCart; else inCart">
  <button
    class="product__buy"
    (click)="onClick()"
    [disabled]="!product.isAvailable"
  >
    Buy
  </button>
</ng-container>
<ng-template #inCart>
  <div class="product__in-cart">Added to Cart!</div>
</ng-template>
